@charset "utf-8";
//mixins

//hr line style
@mixin hr-style($b-margin, $b-height, $b-style, $b-color) {
  display: block;
  height: $b-height;
  border: 0;
  border-top: $b-height $b-style $b-color;
  margin: $b-margin 0;
  padding: 0;
}

// some mixins

