@charset "utf-8";
//variables

//color
$white: #FFF;
$black: #333;
$color-primary:#666666;
$color-secondary:#cccccc;

//font
$font-size: 100%;
$line-height: 1.6;
$font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-selif;

