@charset "utf-8";
//common.scss

//import all compass
@import "compass";
//import mixins
@import "mixins";
//import variables
@import "variables";

//import html5boilerplate main.css
@import "main_s1";

/**
 * My common style for elements
 */

body {
  background-color: $white;
  font-family: $font-family;
}

/* default table style */
table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  th,td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: .5em 1em;
  }
  th {
  }
  td {
  }
}


.hr-test {
  /* include mixin */
  @include hr-style(2em, 1px, dotted, red);
}


.img-test {
  width: 160px;
  height: 16px;
  background-image: url(../img/btn_home.jpg);
  background-position:0 0;
  background-repeat: no-repeat;
}


/**
 * My common class
 */

/* float left */
.float-left {
  float: left;
}

/* float right */
.float-right {
  float: right;
}

/* float clear */
.clear {
  clear: both;
}


//import html5boilerplate main.css
@import "main_s2";
