@charset "utf-8";
//common.scss

//import normalize.css(necolas/normalize.css)
@import "normalize";
//import all compass
@import "compass";
//import mixins
@import "mixins";
//import variables
@import "variables";

/* =============================================================================
  Common style 
   ========================================================================== */
/**
 * My common style for elements
 */

body {
  background-color: $white;
  color: $black;
  line-height: $line-height;
  font-family: $font-family;
}

hr {
  $b-style: dotted;
  $b-color: #ccc;
  @include hr-style($b-style, $b-color);
}



/**
 * My common class
 */

.clear {
  clear: both;
}

.clearfix {
  @include clearfix;
}
