@charset "utf-8";
//common.scss

//import normalize.scss(hail2u/normalize.scss)
@import "normalize";
//import all compass
@import "compass";
//import mixins
@import "mixins";

* {
  outline: none;
}

hr {
  $b-style:dotted;
  $b-color:#ccc;
  @include hr-style($b-style, $b-color);
}
